.tr-show {
  height: 90vh;
  background-image: repeating-conic-gradient(white,black 15%);

}

.menu {
  font-weight: 800;
  color: yellow;
  text-decoration: none;
  font-size: 20px;
}

.total{
  font-weight: 800;
  color: red;
  text-decoration: none;
  font-size: 20px;
}


.fw{
  font-weight: 800;
  color: red;
  text-decoration: none;
  font-size: 20px;
}

.df{
  font-weight: 800;
  color: red;
  text-decoration: none;
  font-size: 20px;
}

.gk{
  font-weight: 800;
  color: red;
  text-decoration: none;
  font-size: 20px;
}

.list{
  font-weight: 800;
  color: red;
  text-decoration: none;
  font-size: 20px;
}

/* 全体練習 */

.total-new {
  height: 90vh;
  background-image: repeating-conic-gradient(lightblue,black 15%);
}

/* 攻撃練習 */

.fw-new {
  height: 90vh;
  background-image: repeating-conic-gradient(lightyellow ,black 15%);
}

/* 守備練習 */

.df-new {
  height: 90vh;
  background-image: repeating-conic-gradient(darkseagreen,black 15%);
}

/* GK練習 */

.gk-new {
  height: 90vh;
  background-image: repeating-conic-gradient(lavender,black 15%);
}

/* 練習リスト */

.list-new {
  height: 90vh;
  background-image: repeating-conic-gradient(lightpink,black 15%);
}