.tr-show {
  height: 90vh;
  background-image: repeating-conic-gradient(white,black 15%);

}

.menu {
  font-weight: 800;
  color: yellow;
  text-decoration: none;
  font-size: 20px;
}

.total{
  font-weight: 800;
  color: red;
  text-decoration: none;
  font-size: 20px;
}


.fw{
  font-weight: 800;
  color: red;
  text-decoration: none;
  font-size: 20px;
}

.mf{
  font-weight: 800;
  color: red;
  text-decoration: none;
  font-size: 20px;
}

.df{
  font-weight: 800;
  color: red;
  text-decoration: none;
  font-size: 20px;
}

.gk{
  font-weight: 800;
  color: red;
  text-decoration: none;
  font-size: 20px;
}

.list{
  font-weight: 800;
  color: red;
  text-decoration: none;
  font-size: 20px;
}