     <div class="ot-menu"><%= link_to "設定", "/others/show.html",class: "ot" %></div>
     <div class="ot-new"><%= link_to "新規登録", "/users/sign_up", class: "new" %></div>
     <div class="ot-in"><%= link_to "ログイン", "/users/sign_in", class: "in" %></div>
       <div class="ot-out">
     <% if user_signed_in? %>
       <%= link_to "ログアウト", "/users/sign_out", class: "out" %></div>
     <% end %>
