<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規GK練習投稿</h2>
      <%= render partial: "form", locals: { gk: @gk } %>
    </div>
  </div>
</div>