/* リセットCSS */
body {
  background-color: #333333;
}

/* ヘッダー */
.header {
  background-color: #1a1d21;
  height: 10vh;
}

.nav__btn{
  display: inline-block;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}

.title-name {
  color: #eeeeee;
}
/* メイン */

.wrapper {
  display: flex;
  height: 90vh;
}
/* フッター */
