<%= render "shared/header" %>
 <div class="total-new"><%= link_to "全体練習投稿", new_total_path, class: "total" %></div>
  <div class="contents row">
    <% @totals.each do |total| %>
        <p><%= total.text %></p>
        <span class="name">
          <%= total.name %>
        </span>
    <% end %>
  </div>
 </div>